/* [ON BIG SCREEN] */
/* (A) WRAPPER */
.headernav {
    width: 100%;
}

/* (B) HORIZONTAL MENU ITEMS */

/* (C) HIDE HAMBURGER */
.headernav label,
#hamburger {
    display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* (A) BREAK INTO VERTICAL MENU */
    .headertab {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
        height: 15vh;
        list-style-type: none;
        float: left;
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }

    /* (B) SHOW HAMBURGER ICON */
    .headernav label {
        display: inline-block;
        color: white;
        background: #aaa;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    .headerbar ul {
        display: none;
    }

    .headernav input:checked~.headerbar ul {
        display: block;
    }
}