.cover-onload {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #568efa;
  transition: ease-in-out 500ms;
  position: absolute;
}
.cover-onload .title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.cover {
  margin: 0;
  width: 100vw;
  height: 30vh;
  text-align: center;
  transition: ease-in-out 500ms;
  background-color: white;
}
.cover .title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: #568efa;
}