html,
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #95dbe5, #078282, #057dcd);
    /*グラデーションを定義*/
    background-size: 200% 200%;
    /*サイズを大きくひきのばす*/
    animation: bggradient 20s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p,
ul,
h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#loader {
    position: fixed;
    background-color: #057dcd;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loader p {
    font-size: 10vh;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background-color: #1e3d58;
    z-index: 2;
    width: 100vw;
}

.logo {
    font-size: 4vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.logo a,
.navbartab a {
    color: white;
}

.navbar {
    display: flex;
    height: 10vh;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
}

.navbartab:hover {
    mix-blend-mode: soft-light;
}

.main {
    position: relative;
    top: 10vh;
    width: 100vw;
}

#articles {
    width: 100vw;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5vh;
    height: 20vh;
    position: fixed;
    top: 10vh;
    z-index: 1;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.title h2 {
    color: black;
}

.search {
    height: 4vh;
    width: 15vw;
    border-radius: 0.7vh;
}

.sort {
    border-radius: 1vh;
    height: 5vh;
    border: 1px solid black;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    height: 90vh;
    position: relative;
    top: 20vh;
}

.post {
    height: 45vh;
    border: 0px solid black;
    width: 30vw;
    border-radius: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.post:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.post:active {
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}

.name {
    width: 100%;
    text-align: center;
    padding-top: 1vh;
}

.description {
    background-color: white;
    height: 10vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

.thumbnail {
    height: 35vh;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#thumbnail1 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail2 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail3 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail4 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail5 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail6 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail7 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail8 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail9 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail10 {
    background-image: url("https://picsum.photos/1000");
}

.date {
    text-align: center;
}

.visits {
    text-align: center;
}