#thumbnail1 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail2 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail3 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail4 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail5 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail6 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail7 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail8 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail9 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail10 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail11 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail12 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail13 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail14 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail15 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail16 {
    background-image: url("https://picsum.photos/1000");
}

#thumbnail17 {
    background-image: url("https://picsum.photos/1000");
}